[submodule "output"]
	path = output
	url = git@github.com:codingbadly/codingbadly.github.io.git
[submodule "output2"]
	path = output2
	url = git@github.com:codingbadly/codingbadly.github.io.git
[submodule "output3"]
	path = output
	url = git@github.com:codingbadly/codingbadly.github.io.git
